body {
  background:linear-gradient(to left, rgb(143, 214, 140), #bbb3b3);
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:white;
}

.blackiconcolor {color:black;}

.table-responsive>.fixed-column {
  position: absolute;
  display: inline-block;
  width: auto;
  border-right: 1px solid #ddd;
}
@media(min-width:768px) {
  .table-responsive>.fixed-column {
      display: none;
  }
}
.header {
  text-align: center;
}

.form-box {
  width: 380px;
  height: 450px;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.5;
  border-radius: 2%;
}

.header-form {
  margin-bottom: 15px;
}

button {
  margin-top: 40px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  justify-content: space-between
}

.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.social i {
  font-size: 35px;
}

.social i:hover {
  color: red;
  cursor: pointer;
}